.photo-gallery {
  width: 500px;
}

.photo-gallery__slides-wrapper {
  position: relative;
  width: 2000px;
  height: 100px;
}

.photo-gallery__content {
  display: inline-block;
  width: 426px;
  height: 100px;
  overflow: hidden;
}
.photo-gallery__slides {
  width: 2000px;
  height: 100px;
  position: absolute;
}
.photo-gallery__slide {
  display: inline-block;
  margin-right: 5px;
}
.photo-gallery__prev, .photo-gallery__next {
  display: inline-block;
  border: 1px solid #ececec;
  position: relative;
  width: 30px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
}
.photo-gallery__prev img, .photo-gallery__next img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40px;
  left: 5px;
}