.photo-gallery {
  width: 500px;
  height: 96px;
}

.photo-gallery__content {
  display: inline-block;
  width: 426px;
  overflow: hidden;
}
.photo-gallery__slides {
  white-space: nowrap;
}
.photo-gallery__slide {
  display: inline-block;
  margin-right: 5px;
}
.photo-gallery__prev, .photo-gallery__next {
  display: inline-block;
  border: 1px solid #ececec;
  position: relative;
  width: 30px;
  cursor: pointer;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
}
.photo-gallery__prev img, .photo-gallery__next img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 5px;
}

.photo-gallery__prev.is-disabled, .photo-gallery__next.is-disabled {
  cursor: not-allowed;
}

.photo-gallery__prev.is-disabled img, .photo-gallery__next.is-disabled img {
  opacity: 0.5;
}